
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


@font-face {
    font-family: "zen";
    src: url(../assets/fonts/ZenDots-Regular.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../assets/fonts/Roboto-Bold.ttf);
}


